:root {
    --border-radius: 10px;
}

body {
    background: #444444;
}

.driver {
    /*background-image: url("https://source.unsplash.com/random/235x135");*/
    position: relative;
    margin: 20px;
    /*top: 5px;*/
    /*left: 5px;*/
    border: 3px darkgrey solid;
    cursor: pointer;
    border-radius: var(--border-radius);
}

.droppable {
    border: 3px darkgrey solid;
}

#leftPanel {
    position: absolute;
    left: 0.5vw;
    top: 0.5vh;
    width: 32.75vw;
    height: 99vh;
    background-color: gray;
    border-radius: var(--border-radius);
}

#pool {
    position: absolute;
    display: grid;
    grid-template-rows: 20% 20% 20% 20% 20%;
    grid-template-columns: 25% 25% 25% 25%;
    right: 0.5vw;
    top: 0.5vh;
    width: 65.75vw;
    height: 99vh;
    background-color: gray;
    border-radius: var(--border-radius);
}

.queue {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20% 80%;
    background-color: #666666;
    width: 31.75vw;
    height: 20vh;
    position: relative;
    left: 0.5vw;
    border-radius: var(--border-radius);
}

.lanes {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 7.5% 92.5%;
    background-color: #666666;
    width: 31.75vw;
    height: 63vh;
    position: relative;
    left: 0.5vw;
    border-radius: var(--border-radius);
}



.title {
    font-family: "Franklin Gothic Medium", sans-serif;
    text-align: center;
    padding-bottom: 0.5vh;
    height: 5vh;
}

.mini {
    height: 0.5vh;
    padding-bottom: 0vh;
    margin-top: -0.75vh;
}

.next {
    background-color: #444444;
    margin: 5px;
    border-radius: var(--border-radius);
}

.lane1 {
    background-color: crimson;
}

.lane2 {
    background-color: dodgerblue;
}

.hold {
    border: solid #ccc 4px;
}

.hovered {
    /*background: #f4f4f4;*/
    border-style: dashed;
}

.invisible {
    display: none;
}