

body {
    background: #444444;
}

.fill {
    background-image: url("https://source.unsplash.com/random/235x135");
    position: relative;
    height: 135px;
    width: 235px;
    top: 5px;
    left: 5px;
    cursor: pointer;
    border-radius: 10px;
}

.empty {
    margin: 30px;
    border: 3px darkgrey solid;
    background-color: white;
    border-radius: 10px;
}

.hold {
    border: solid #ccc 4px;
}

.hovered {
    background: #f4f4f4;
    border-style: dashed;
}

.invisible {
    display: none;
}

#leftPanel {
    position: absolute;
    left: 0.5vw;
    top: 0.5vh;
    width: 32.75vw;
    height: 99vh;
    background-color: gray;
    border-radius: 10px;
}

#pool {
    position: absolute;
    display: grid;
    grid-template-rows: 20% 20% 20% 20% 20%;
    grid-template-columns: 25% 25% 25% 25%;
    right: 0.5vw;
    top: 0.5vh;
    width: 65.75vw;
    height: 99vh;
    background-color: gray;
    border-radius: 10px;
}

.queue {
    /*grid-template-columns: 50% 50%;*/
    background-color: #666666;

    width: 31.75vw;
    height: 20vh;
    position: relative;
    left: 0.5vw;
    border-radius: 10px;
}

.lanes {
    /*grid-template-columns: 50% 50%;*/
    background-color: #666666;
    padding: 5px;
}

.title {
    font-family: "Franklin Gothic Medium", sans-serif;
    text-align: center;
    padding-top: 0;
    padding-bottom: 10px;
    height: 40px;
}